<div class="sidebar bg-light col-3">

  <div class="sidebar-header shadow d-flex align-items-center">
    <i class="bi bi-journal-text mx-2" style="font-size:24px">ListApp</i>
  </div>

  <div class="lists-form pt-4 px-2">

    <div class="list-form">
      <%= form_with model: @list, id: "list-form" do |f| %>
        <div>
          <%= f.label :list_text, "ToDoリスト" %>
        </div>
        <div>
          <%= f.text_field :list_text, class: "text-field", id: "text", autofocus: true %>
          <%= f.submit "作成", class: "btn btn-primary", id: "list-submit" %>
        </div>
      <% end %>
    </div>

  </div>
  <div class="lists overflow-scroll px-2">

    <div class="lists-text", id="list-text">
      <% @lists.each do |list| %>
        <div class="list-text d-flex justify-content-between p-2 my-1">
          <label>
            <input type="checkbox">
            <%= list.list_text %>
          </label>
          <%= link_to list_path(list), method: :delete, class: "me-2" do %>
            <i class="bi bi-trash" style="font-size:20px"></i>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="sidebar-footer d-flex justify-content-between align-items-center">

    <%= link_to destroy_user_session_path, method: :delete do %>
      <button type="button" class="btn btn-success ms-2">
        <i class="bi bi-door-closed" style="font-size:20px"></i>
      </button>
    <% end %>

  </div>

</div>